{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts_top %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static "css/maps/mapstyle.css" %}">
{% endblock %}
{% block title %} Profile Page {% endblock %}
{% block content %}
<div class="container">
    <div class="spacer margin-top-1 margin-bottom-1">&nbsp;</div>
    <div>
        <h1>{{ property.street_address }}</h1>
        <h6>County: <span id="property_county">{{ property.county }}</span></h6>
        <br>
    </div>
    <a href="{% url 'properties:listing' %}">Go Back</a>
    <hr>
    <div id="property-data">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 margin-top-1">
                <h6>{{ property.listing_type }}</h6>
                <h3>€{{ property.price }}</h3>
                <hr>
                <p>&nbsp;</p>
                <p>{{property.description}}</p>
                <div id="details-heading">
                    <hr>
                    <h5>Property Details</h5>
                    
                    <table>
                        <tr>
                            <th class="property_details_heading" width="50%">Property Type</th>
                            <th class="property_details_heading" width="50%">BER</th>
                        </tr>
                        <tr>
                            <td>{{property.property_type}}</td>
                            <td>{{property.ber_rating}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div id="property-lat-lng">
                        <span id="property-lat">{{property.latitude}}</span>
                        <span id="property-lng">{{property.longitude}}</span>
                    </div>
                    <h5>Location</h5>
                    <div id="mapouter">
                        <a target="_blank" href="">Open Map</a>
                        <div id="map" class="google_map_canvas"></div>
                    </div>
                </div>

                
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 margin-top-1">
                <h4>Get More Info</h4>
                <p>Learn more about this property listing by contacting one of our experts.</p>
                
            </div>
        </div>

        
    </div>
    
</div>

{% endblock %}
{% block scripts_bottom %}
    <script src="{% static "js/maps/map_constants.js" %}"></script>
    <script src="{% static "js/maps/map_load.js" %}"></script>
    <script src="{% static "js/maps/map_prepare_property.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0w1cO3ZEMdCW4n6GczBMRxiP92a7lhjA&callback=map_prepare_clients&v=weekly" async></script>
{% endblock %}